@use "tokens" as *;

// Global Base
* {
  font-family: 'IBM Plex Sans', sans-serif;
}

.cds--progress-step .cds--assistive-text {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
